<div class="hero-unit text-center">
	<h1>Welcome to FantaC!</h1>
	<p class="lead">Can you build the best team of characters?</p>
	<%= link_to "Play Now", battle_path(Battle.featured), class: "btn btn-primary btn-large" %>
</div>
