<div class="dialog text-center">
  <h1>We are sorry, but you are not authorized to perform the requested action.</h1>
	<%= link_to "Sign Up", new_user_registration_url, class: "btn btn-primary" %>
	<%= link_to "Sign In", new_user_session_url %>
</div>
